#wsuwp-people-directory-configuration,
#wsuwp-people-directory-configuration .delete-selected-people,
#wsuwp-people-directory-configuration .select-all-people,
.post-new-php .wsu-people-directory-options,
.wsu-people-directory-options > div,
.post-new-php .wsu-people-bulk-actions {
	display: none;
}

.post-new-php .wsu-people-directory-options.add,
.post-new-php .wsu-people-directory-options.add > div {
	display: block;
}

.wsu-people-directory-options {
	padding-bottom: 1em;
}

.wsu-people-directory-options-header {
	background: none;
	border: none;
	color: #444;
	cursor: pointer;
	display: block;
	font-weight: 600;
	line-height: 1.4;
	margin-top: 10px;
	padding: 0;
}

.wsu-people-directory-options-header:focus {
	box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, .8);
	outline: none;
}

.wsu-people-directory-options .wsu-people-directory-options-header:after {
	content: " +";
}

.wsu-people-directory-options.open .wsu-people-directory-options-header:after {
	content: " -";
}

.wsu-people-directory-options > div {
	padding: 0 0 0 2em;
}

.wsu-people-bulk-actions {
	padding: 12px 0;
}

.wsu-people-admin-wrapper {
	position: relative;
}

.table .wsu-people {
	border-bottom: none;
}

.wsu-people .spinner {
	display: block;
	float: none;
	margin: 20px auto;
	visibility: visible;
}

.wsu-people-filter.search {
	background: none;
	pointer-events: none;
}

.wsu-people-filter-label {
	font-size: 14px;
	margin: 0;
}

.wsu-person {
	color: #717171;
	cursor: move;
	position: relative;
}

.wsu-person .card,
.wsu-person .about {
	font-family: "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	font-size: 14px;
	line-height: 22px;
}

#poststuff .wsu-person .name {
	color: #717171;
	font-size: 1rem;
	font-weight: 700;
	padding: 8px 0 3.2px;
}

.wsu-person .card a {
	color: #981e32;
	pointer-events: none;
	text-decoration: none;
}

#poststuff .wsu-person.link .name {
	color: #981e32;
}

#poststuff .wsu-person.no-link .name a {
	color: #717171;
}

.wsu-person .about p {
	font-size: 14px;
	margin: 0;
	padding-bottom: 1em;
}

.bulk-select .wsu-person {
	cursor: pointer;
	opacity: .65;
}

.bulk-select .wsu-person.selected {
	opacity: 1;
}

.wsu-person-controls {
	background: #f5f5f5;
	border: 1px solid #a0a5aa;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
	box-sizing: border-box;
	left: 50%;
	padding: 1px;
	position: absolute;
	top: 0;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
}

.wsu-person-controls,
.bulk-select .wsu-person:hover .wsu-person-controls {
	display: none;
}

.wsu-person:hover .wsu-person-controls {
	display: block;
}

.wsu-person-controls button {
	background: #f5f5f5;
	border: 1px solid transparent;
	border-radius: 2px;
	cursor: pointer;
	line-height: normal;
	margin: 2px;
	padding: 2px 3px;
}

.wsu-person-controls button:focus,
.wsu-person-controls button:hover {
	background: #fafafa;
	border-color: #555d66;
	box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0, 0, 0, .08);
	color: #23282d;
	outline: 0;
}

.wp-core-ui .button-link.wsu-person-select {
	background-color: #0073aa;
	box-shadow: 0 0 0 1px #fff, 0 0 0 2px #0073aa;
	display: none;
	height: 24px;
	position: absolute;
	right: -8px;
	top: -8px;
	width: 24px;
	z-index: 10;
}

.wp-core-ui .selected .button-link.wsu-person-select {
	display: block;
}

.wsu-person-select .media-modal-icon {
	background-position: -21px 0;
	background-repeat: no-repeat;
	display: block;
	height: 15px;
	width: 15px;
	margin: 5px;
}

.wsu-person-select:hover .media-modal-icon {
	background-position: -60px 0;
}

.wsu-person-controls .dashicons {
	color: #555d66;
	line-height: 20px;
	margin: 0;
	padding: 0;
	text-align: center;
}

.wsu-person .card {
	background: none;
	border: none;
	box-shadow: 0;
	margin: 0;
	max-width: none;
	min-width: 0;
}

.wsu-person-controls-tooltip {
	display: none;
	margin-top: 2px;
	opacity: .8;
	padding: 5px 0 0;
	position: absolute;
	zoom: 1;
}

.grid .wsu-person-controls-tooltip {
	margin-left: -.5rem;
}

.wsu-person-controls-tooltip-arrow {
	border: 5px solid #000;
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
	height: 0;
	left: 50%;
	line-height: 0;
	margin-left: -5px;
	position: absolute;
	top: 0;
	width: 0;
}

.wsu-person-controls-tooltip-inner {
	background-color: #000;
	border-radius: 3px;
	color: #fff;
	font-size: 12px;
	max-width: 200px;
	padding: 5px 8px 4px;
	text-align: center;
	white-space: normal;
}

.person-modal-open {
	overflow: hidden;
}

.person-modal-wrapper {
	background: rgba(0, 0, 0, .7);
	bottom: 0;
	cursor: initial;
	display: none;
	left: 0;
	min-height: 360px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 159900;
}

.person-modal-wrapper.active {
	display: block;
}

.person-modal {
	background: #fff;
	bottom: 30px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .7);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	left: 140px;
	position: fixed;
	right: 140px;
	top: 30px;
}

.person-modal > * {
	box-sizing: border-box;
	width: 100%;
}

.person-modal-title {
	height: 50px;
}

.person-modal-title h1 {
	font-size: 22px;
	font-weight: 600;
	line-height: 50px;
	margin: 0;
	padding: 0 16px;
}

.person-modal-content {
	background: #f3f3f3;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	box-shadow: inset 0 4px 4px -4px rgba(0, 0, 0, .1);
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
	max-height: calc(100vh - 170px);
	overflow: scroll;
	padding: 20px;
}

.person-modal-toolbar {
	height: 60px;
	padding: 15px 16px 0 0;
	text-align: right;
}

.wp-core-ui .button-link.person-modal-button {
	height: 50px;
	position: absolute;
	right: 0;
	text-align: center;
	text-decoration: none;
	top: 0;
	transition: color .1s ease-in-out, background .1s ease-in-out;
	width: 50px;
	z-index: 1000;
}

.person-modal-button .person-modal-icon:before {
	color: #666;
	content: "\f158";
	font: 400 20px/1 dashicons;
	speak: none;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.person-modal-button:hover .person-modal-icon:before {
	color: #00a0d2;
}

#poststuff .person-modal h2 {
	border-top: 1px solid #ddd;
	color: #23282d;
	font-size: 12px;
	font-weight: 600;
	margin-top: 20px;
	padding: 20px 0 12px;
	text-transform: uppercase;
}

#poststuff .person-modal-content  h2:first-child {
	border-top: none;
	margin-top: 0;
	padding-top: 0;
}

.person-modal .choose > div {
	background: #fff;
	cursor: pointer;
	margin: 1px 12px 12px 1px;
	position: relative;
}

.person-photos div,
.person-titles div {
	display: inline-block;
}

.person-titles div,
.person-content div {
	padding: 1em 1.5em;
}

.person-modal img {
	display: block;
}
