#wsuwp-profile-tabs > ul {
	border-bottom: 1px solid #ccc;
	margin: 20px 0 15px;
	padding: 9px 15px 0 10px;
}
#wsuwp-profile-tabs > ul li {
	display: inline-block;
	margin: 0;
}
#wsuwp-profile-tabs > ul li a {
	border: 1px solid #ccc;
	font-size: 15px;
	font-weight: bold;
	line-height: 24px;
}
#wsuwp-profile-tabs > ul li a:focus {
	box-shadow: none;
}
#wsuwp-profile-tabs > ul li.ui-tabs-active a {
	border-bottom: 1px solid #f1f1f1;
	background: #f1f1f1;
	color: #000;
}
#poststuff h3.wpuwp-profile-label {
	padding: 8px 0 0;
}
.wsuwp-profile-namefield {
	margin-bottom: 1em;
}
#wp-_wsuwp_profile_teaching-wrap,
#wp-_wsuwp_profile_research-wrap {
	margin-bottom: 20px;
}
.postbox .inside .upload-set-wrapper>p:last-child {
	margin-bottom: 1px;
}
#bio_above_editor-sortables,
#teaching_above_editor-sortables,
#research_above_editor-sortables,
#extension_above_editor-sortables
#publications_above_editor-sortables {
	min-height: 10px;
}
.ui-tabs-panel[aria-hidden="true"] {
	border: 0;
	clip: rect(0 0 0 0);
	display: block !important;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute; 
  width: 1px; 
}