/* Hide the default post title field */
#titlediv {
	display: none;
}

/* AD/Network ID search */
.wp-core-ui .profile-hide-button {
	display: none;
}

.load-ad-container {
	margin-top: 7px;
}

/* Hide metaboxes until they are needed */
.wsu-person[data-nid=""],
.post-new-php #wsuwp-university-taxonomies,
.post-new-php #wsuwp-profile-listing {
	height: 0;
	opacity: 0;
	overflow: hidden;
	visibility: hidden;
}

.wsu-person,
.post-new-php #wsuwp-university-taxonomies.show,
.post-new-php #wsuwp-profile-listing.show {
	height: auto;
	transition: opacity .5s ease-in-out;
}

.post-new-php #wsuwp-university-taxonomies.show,
.post-new-php #wsuwp-profile-listing.show {
	opacity: 1;
	visibility: visible;
}

/* Card layout */
.wsu-person .card {
	font-size: 14px;
	margin: 0;
	max-width: none;
	padding: 12px;
}

.wsu-person .card:after {
	content: "";
	display: table;
	clear: both;
}

.card .photo {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	float: left;
	height: 198px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 0 16px 16px 0;
	position: relative;
	width: 198px;
}

.card .contact {
	float: left;
	line-height: 0;
	white-space: pre-line;
}

.contact span {
	display: inline-block;
	line-height: normal;
	min-height: 17px;
}

/* Editable areas */
[contenteditable="true"],
[contenteditable="false"] {
	display: inline-block;
	padding-bottom: .25rem;
	min-width: 1px; /* Gives enough space for the cursor to show up. */
}

[contenteditable="true"]:focus {
	outline: none;
}

[contenteditable="true"]:empty:before {
	color: #767676;
	content: attr(data-placeholder);
	display: inline-block;
}

[contenteditable="false"] {
	color: #767676;
}

[contenteditable="true"]:focus:empty:before {
	content: none;
}

/* Editable area customizations */
#poststuff .name {
	display: inline-block;
	font-size: 22px;
	height: 38px;
	line-height: 38px;
	margin-right: 7px;
	padding: 0;
}

.degree:after {
	content: ",";
	display: inline-block;
}

.degree:last-of-type:after {
	content: none;
}

/* Buttons */
.card button,
.wsu-person-photo-wrapper button {
	background: none;
	border: none;
	cursor: pointer;
	display: none;
	padding: 0;
}

.wsu-person-remove.dashicons {
	font-size: 16px;
	height: 16px;
	width: 16px;
	vertical-align: text-bottom;
}

.wsu-person-remove:hover,
.wsu-person-remove:focus {
	color: #c00;
	outline: none;
}

.card span:hover ~ .wsu-person-add-repeatable-meta,
.card .wsu-person-add-repeatable-meta:hover {
	display: inline-block;
}

.wsu-person-add-repeatable-meta,
.wsu-person-add-photo {
	color: #0073aa;
	margin: 0 0 .25em;
	text-decoration: underline;
}

.wsu-person-add-repeatable-meta:hover,
.wsu-person-add-photo:hover {
	color: #00a0d2;
}

/* Button customizations */
.card .wsu-person-add-degree {
	display: inline-block;
	opacity: 0;
}

.card h2 + .wsu-person-add-degree,
.card .degree:hover ~ .wsu-person-add-degree,
.card .wsu-person-add-degree:hover {
	opacity: 1;
}

.wsu-person-add-degree:after {
	content: " another degree";
}

h2 + .wsu-person-add-degree:after {
	content: " a degree";
}

.wsu-person-photo-wrapper .wsu-person-remove {
	left: 0;
	position: absolute;
	top: 0;
}

.wsu-person-photo-wrapper:hover .wsu-person-remove {
	display: block;
}

/* Photo collection */
.wsu-person-photo-collection-open {
	overflow: hidden;
}

.card .photo img {
	position: absolute;
	transition: opacity .2s ease-in-out, z-index .2s ease-in-out;
	z-index: 1;
}

.card .photo:hover img {
	opacity: .25;
	z-index: 0;
}

.card .photo figcaption {
	color: #0073aa;
	position: relative;
	text-decoration: underline;
}

.card .photo figcaption:hover {
	color: #00a0d2;
}

.wsu-person-photo-collection-backdrop {
	background: rgba(0, 0, 0, .5);
	content: "";
	height: 0;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transition: opacity .3s ease-in-out;
	width: 0;
	z-index: 100000;
}

.wsu-person-photo-collection-open .wsu-person-photo-collection-backdrop {
	height: 100vh;
	opacity: 1;
	width: 100vw;
}

.wsu-person-photo-collection {
	height: 0;
	overflow: hidden;
	position: absolute;
	text-align: right;
	transition: height .2s ease-in-out .3s;
	width: 0;
}

.wsu-person-photo-collection-open .wsu-person-photo-collection {
	height: auto;
	overflow: visible;
	width: 198px;
}

.wsu-person-photo-wrapper {
	box-sizing: border-box;
	float: left;
	margin-bottom: 6px;
	position: relative;
	width: 96px;
}

.wsu-person-photo-wrapper:nth-of-type(odd) {
	margin-left: 3px;
}

.wsu-person-photo-wrapper:nth-of-type(even) {
	margin-right: 3px;
}

.wsu-person-photo-wrapper:first-child {
	margin: 0 0 6px;
	width: 198px;
}

.wsu-person-photo-wrapper img {
	display: block;
	width: 100%;
}

button.wsu-person-add-photo {
	clear: both;
}

/* TinyMCE Editors */
#poststuff .wsu-person-bio h2 {
	padding: 30px 12px 0 0;
}

.wp-editor-wrap {
	padding-top: 21px;
}

.wsu-person-bio .readonly {
	background: #fff;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	color: #717171;
	margin-top: 21px;
	padding: 9px 10px;
}

.wsu-person-bio .readonly p {
	font: 14px/22px "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	margin: 0;
	padding-bottom: 1em;
}

/* Taxonomy metabox */
.taxonomy-select2 {
	display: none;
}

.select2-container--default .select2-selection--multiple,
.select2-dropdown {
	background: #fdfdfd;
	border: 1px solid #ddd;
	border-radius: 0;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
	color: #32373c;
	line-height: 0;
	min-height: 24px;
	outline: 0;
}

.select2-container--default .select2-selection--multiple {
	padding: 3px 0;
	transition: 50ms border-color ease-in-out;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered,
.select2-results__options {
	line-height: normal;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
	border-color: #5b9dd9;
	box-shadow: 0 0 2px rgba(30, 140, 190, .8);
}

.select2-results__option {
	margin: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
	background: transparent;
	border: 0;
	line-height: 1.8;
	margin: 0 12px 0 0;
	max-width: 100%;
	overflow: hidden;
	padding: 0;
	text-overflow: ellipsis;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	height: 24px;
	margin: 0;
	position: relative;
	text-indent: -22px;
	width: 24px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:before {
	border-radius: 50%;
	color: #0073aa;
	content: "\f153";
	display: block;
	font: 400 16px/20px dashicons;
	height: 20px;
	left: 2px;
	line-height: 1.28;
	text-align: center;
	speak: none;
	text-indent: 0;
	top: 2px;
	position: absolute;
	width: 20px;
	-webkit-font-smoothing: antialiased;
}

.select2-search--inline {
	margin: 0;
	max-width: 100%;
}

.select2-container .select2-search--inline .select2-search__field {
	height: 24px;
	margin: 0;
	max-width: 100%;
}

.select2-container--default .select2-results > .select2-results__options {
	max-height: 500px;
}

.level-1 {
	padding-left: 1rem;
}

.level-2 {
	padding-left: 2rem;
}
