/* Hide the default post title field */
#titlediv {
	display: none;
}

/* AD/Network ID search */
.wp-core-ui .profile-hide-button {
	display: none;
}

.load-ad-container {
	margin-top: 7px;
}

/* Card layout */
.wsu-person[data-nid=""] {
	visibility: hidden;
	opacity: 0;
}

.wsu-person {
	transition: opacity .5s ease-in-out;
}

.wsu-person .card {
	font-size: 14px;
	margin: 0;
	max-width: none;
	padding: 12px;
}

.wsu-person .card:after {
	content: "";
	display: table;
	clear: both;
}

.card .photo {
	float: left;
	margin: 0 16px 16px 0;
	min-height: 198px;
	min-width: 198px;
}

.card .contact {
	float: left;
	line-height: 0;
	white-space: pre-line;
}

.contact span {
	display: inline-block;
	line-height: normal;
}

/* Editable areas */
[contenteditable="true"],
[contenteditable="false"] {
	display: inline-block;
	padding-bottom: .25rem;
	min-width: 1px; /* Gives enough space for the cursor to show up. */
}

[contenteditable="true"]:focus {
	outline: none;
}

[contenteditable="true"]:empty:before {
	color: #767676;
	content: attr(data-placeholder);
	display: inline-block;
}

[contenteditable="false"] {
	color: #767676;
}

[contenteditable="true"]:focus:empty:before {
	content: none;
}

/* Editable area customizations */
#poststuff .name {
	display: inline-block;
	font-size: 22px;
	height: 38px;
	line-height: 38px;
	margin-right: 7px;
	padding: 0;
}

.degree:after {
	content: ",";
	display: inline-block;
}

.degree:last-of-type:after {
	content: none;
}

/* Buttons */
.card button {
	background: none;
	border: none;
	cursor: pointer;
	display: none;
	padding: 0;
}

.card .dashicons {
	font-size: 16px;
	height: 16px;
	width: 16px;
	vertical-align: text-bottom;
}

.card .wsu-person-remove:hover,
.card .wsu-person-remove:focus {
	color: #c00;
	outline: none;
}

.card span:hover ~ .wsu-person-add-repeatable-meta,
.card .wsu-person-add-repeatable-meta:hover {
	display: inline-block;
}

.wsu-person-select:hover:before,
.selected .wsu-person-select:before {
	color: #0073aa;
}

.wsu-person-add-repeatable-meta {
	color: #0073aa;
	margin-bottom: .25em;
	text-decoration: underline;
}

.wsu-person-add-repeatable-meta:hover {
	color: #00a0d2;
}

/* Button customizations */
.card .wsu-person-add-degree {
	display: inline-block;
	opacity: 0;
}

.card h2 + .wsu-person-add-degree,
.card .degree:hover ~ .wsu-person-add-degree,
.card .wsu-person-add-degree:hover {
	opacity: 1;
}

.wsu-person-add-degree:after {
	content: " another degree";
}

h2 + .wsu-person-add-degree:after {
	content: " a degree";
}

/* Photo collection */
.wsu-person .card figcaption {
	color: #767676;
}

/* TinyMCE Editors */
#poststuff .wsu-person-bio h2 {
	padding: 30px 12px 0 0;
}

.wp-editor-wrap {
	padding-top: 21px;
}

.wsu-person-bio .readonly {
	background: #fff;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	color: #717171;
	margin-top: 21px;
	padding: 9px 10px;
}

.wsu-person-bio .readonly p {
	font: 14px/22px "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	margin: 0;
	padding-bottom: 1em;
}
