.wsuwp_people_profile .source,
.single-wsuwp_people_profile .pager,
.single-wsuwp_people_profile .article-footer {
	display: none;
}

.wsuwp_people_profile * {
	margin: 0;
}

.wsuwp_people_profile .card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.wsuwp_people_profile header {
	width: 100%;
	margin-bottom: 1rem;
}

.wsuwp_people_profile .photo {
	display: block;
	width: 198px;
}

.wsuwp_people_profile .photo img {
	display: block;
	max-width: 100%;
	width: 100%;
}

.wsuwp_people_profile .photo + .contact {
	margin: 1.5rem 0 0;
}

.wsuwp_people_profile .contact span {
	display: block;
}

.wsuwp_people_profile .website {
	overflow: hidden;
	text-overflow: ellipsis;
}

.wsuwp_people_profile .about {
	margin-top: 2rem;
}

@media screen and (min-width: 480px) {

	.wsuwp_people_profile .photo + .contact {
		margin: 0 0 0 1.5rem;
		width: calc(100% - 198px - 1.5rem);
	}

}
