/* Overrides. */
.has-featured-image .size-gt-small main header.main-header {
	position: relative !important;
}
/* Position and contact info. */
.degree {
	font-style: italic;
}
.department {
	display: block;
}
.contact {
	padding-bottom: 0;
}
.dashicons {
	font-size: 14px;
	height: 14px;
	padding-top: 3px;
	text-align: left;
}
.location {
	display: inline-block;
	padding-left: 20px;
}
.dashicons-location {
	margin-left: -20px;
}
/* Bio. */
#profile-bio {
	padding: 0 2rem 1rem;
}
/* Accordion. */
#profile-accordion > dl {
	margin: 0 0 1px 1px;
	padding: 0 0 0 2rem;
}
#profile-accordion > dl:nth-of-type(odd) {
	background-color: #fff;
}
#profile-accordion > dl:nth-of-type(even) {
	background-color: #eff0f1;
}
#profile-accordion > dl > dt {
	background: url(../images/plus-crimson.svg) 95% center no-repeat;
	cursor: pointer;
	display: block;
	padding: 1rem 0;
}
#profile-accordion > dl > dt:hover {
	background: url(../images/plus-red.svg) 95% center no-repeat;
}
#profile-accordion > dl.disclosed > dt {
	background-image: url(../images/x-crimson.svg);
}
#profile-accordion > dl.disclosed > dt:hover {
	background-image: url(../images/x-red.svg);
}
#profile-accordion > dl > dt > h4 {
	color: #981e32;
	padding: 0;
}
#profile-accordion > dl > dt > h4:hover {
	color: #c60c30;
	padding: 0;
}
#profile-accordion > dl > dd {
	padding: 0 0 2rem 0;
}
/* Expertise lists. */
.categorized dd:not(:last-of-type):after,
.topics dd:not(:last-of-type):after,
.tagged dd:not(:last-of-type):after {
	content: ','
}
/* Keys. */
.key {
	font-size: 12px;
	font-style: italic;
	line-height: 18px;
}
@media screen and (max-width:791px) {
	.dashicons {
		font-size: 16px;
		height: 16px;
		padding-top: 5px;
	}
}