/* AD/Network ID search */
.wp-core-ui .profile-hide-button {
	display: none;
}

.load-ad-container {
	margin-top: 7px;
}

/* Card layout */
.wsu-person[data-nid=""] {
	visibility: hidden;
	opacity: 0;
}

.wsu-person {
	transition: opacity .5s ease-in-out;
}

.wsu-person-card {
	background: #fff;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	font-size: 14px;
	padding: 12px;
}

.wsu-person-photo {
	display: inline-block;
	margin: 0 16px 16px 0;
	min-height: 198px;
	min-width: 198px;
}

.wsu-person-contact {
	display: inline-block;
	vertical-align: top;
}

/* Editable areas */
[contenteditable="true"] {
	display: inline-block;
	margin-bottom: .25rem;
	min-width: 1px; /* Gives enough space for the cursor to show up. */
}

[contenteditable="true"]:empty:before {
	color: #767676;
	content: attr(data-placeholder);
	display: inline-block;
}

[contenteditable="true"]:focus:empty:before {
	content: none;
}

/* Editable area customizations */
.wsu-person-name {
	display: inline-block;
	font-size: 22px;
	height: 38px;
	line-height: 38px;
	margin-right: 7px;
}

.wsu-person-degree,
.wsu-person-degree > div {
	display: inline-block;
}

.wsu-person-degree [contenteditable="true"]:after {
	content: ",";
	display: inline-block;
}

.wsu-person-degree div:last-of-type [contenteditable="true"]:after {
	content: none;
}

/* Buttons */
.wsu-person-button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
}

.wsu-person-repeatable-meta .wsu-person-button {
	display: none;
}

.wsu-person-repeatable-meta:hover .wsu-person-add-repeatable-meta,
.wsu-person-repeatable-meta [contenteditable="true"]:focus ~ .wsu-person-button {
	display: inline-block;
}

.wsu-person-add-repeatable-meta {
	color: #0073aa;
	margin-bottom: .25em;
	text-decoration: underline;
}

.wsu-person-add-repeatable-meta:hover {
	color: #00a0d2;
}

/* Photo collection */
.wsu-person-card figcaption {
	color: #767676;
}

/* TinyMCE Editors */
.wp-editor-wrap {
	padding-top: 21px;
}
