/* Search */
input[type="search"]::-webkit-search-decoration {
	display: none;
}

.wsu-people-filters .search input,
.wsu-people-filter-label,
.wsu-people-filter-label:hover,
.wsu-people-filter-label:focus {
	background: #fff;
	border-radius: 1px;
	border: 1px solid #585858;
	box-sizing: border-box;
	color: #585858;
	font-family: "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	font-size: 1em;
	height: 2rem;
	line-height: 2rem;
	margin: 0;
	padding: 0 1rem;
	width: 100%;
	appearance: none;
}

.wsu-people-filters .search input:focus,
.wsu-people-filter-label:focus {
	border-color: #820c23;
	color: #820c23;
	outline: none;
}

.wsu-people-filters .search input::-webkit-input-placeholder {
	color: #585858;
	font-family: "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	font-size: 14px;
	font-style: italic;
}

.wsu-people-filters .search input::-moz-placeholder {
	color: #585858;
	font-family: "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	font-size: 14px;
	font-style: italic;
	opacity: 1;
}

.wsu-people-filters .search input:-ms-input-placeholder {
	color: #585858;
	font-family: "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	font-size: 14px;
	font-style: italic;
}

.wsu-people-filters .search input:-moz-placeholder {
	color: #585858;
	font-family: "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	font-size: 14px;
	font-style: italic;
	opacity: 1;
}

/* Filters */
.wsu-people-filter-label {
	font-style: italic;
	padding: 0 2rem 0 1rem;
	position: relative;
	text-align: left;
}

.wsu-people-filter-label:after {
	content: "\002b";
	display: block;
	font-style: normal;
	height: 100%;
	position: absolute;
	right: 1rem;
	text-align: right;
	top: 0;
	transition: transform .25s;
}

.wsu-people-filter-label[aria-expanded="true"]:after {
	transform: rotate(-45deg);
}

.wsu-people-filter-terms {
	background: #585858;
	display: none;
	list-style: none;
	padding: 0;
}

.open + .wsu-people-filter-terms {
	display: block;
}

.wsu-people-filter-terms li {
	padding: 0;
}

.wsu-people-filter-terms input[type="checkbox"] {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: polygon(0 0, 0 0, 0 0, 0 0);
	height: 1px;
	overflow: hidden;
	position: absolute;
	width: 1px;
}

.wsu-people-filter-terms span {
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 14px;
	font-weight: 400;
	padding: .3rem 1rem;
}

.wsu-people-filter-terms :focus + span,
.wsu-people-filter-terms span:hover {
	background: #404040;
}

.wsu-people-filter-terms :checked + span {
	font-weight: 700;
	background: #820c23;
}

.wsu-people-filter-terms :checked + span:hover {
	background: #a60f2d;
}

/* Table layout */
.table .wsu-people-filters {
	display: flex;
	margin: 0 -.5rem 1rem;
}

.table .wsu-people-filter {
	box-sizing: border-box;
	padding: 0 .5rem;
	width: 50%;
}

.table .wsu-people {
	border-bottom: 1px solid #ddd;
}

.table .wsu-person {
	border-top: 1px solid #ddd;
	display: flex;
}

.table .wsu-person:nth-of-type(odd) {
	background-color: #fff;
}

.table .wsu-person:nth-of-type(even) {
	background-color: #f9f9f9;
}

.table .card,
.table .about {
	box-sizing: border-box;
	padding: 1rem;
}

.table .card {
	width: 200px;
}

.table.photos .card {
	width: 300px;
}

.table .name {
	display: inline;
	font-size: 1rem;
}

.table .photo {
	display: none;
	float: left;
	margin: 0 20px 0 0;
	width: 100px;
}

.table.photos .has-photo .photo {
	display: block;
}

.table .photo img {
	display: block;
	max-width: 100%;
	width: 100%;
}

.table.photos .has-photo .contact {
	margin-left: 120px;
}

.table .contact span {
	display: block;
}

.table .about {
	flex: 1 0 0;
}

@media only screen and ( max-width: 693px ) {

	.table .wsu-person {
		border-top: 1px solid #ddd;
		display: block;
	}

	.table .card,
	.table .name,
	.table .about {
		display: block;
	}

	.table .card,
	.table.photos .card {
		width: 100%;
	}

	.table .photo {
		display: block;
		float: none;
		margin-right: 0;
	}

	.table.photos .has-photo .contact {
		margin-left: 0;
	}
}

/* Grid layout */
.grid .wsu-people {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -.5rem;
}

.grid .wsu-person {
	background: #fff content-box;
	box-sizing: border-box;
	padding: .5rem;
	width: 25%;
}

.grid .name {
	font-size: 1rem;
	padding-top: 0;
	width: 100%;
}

.grid .card {
	display: flex;
	flex-wrap: wrap;
	padding: 1rem;
}

.grid .photo {
	margin: -1rem -1rem 1rem -1rem;
	order: -1;
	padding: 2rem 1rem 100%;
	position: relative;
	width: 100%;
}

.grid .photo img {
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.grid .contact {
	overflow: hidden;
	text-overflow: ellipsis;
}

.grid .contact span {
	display: block;
}


.grid .about {
	padding: 0 1rem 1rem;
}

@media only screen and ( max-width: 693px ) {

	.grid .wsu-person {
		width: 50%;
	}
}

@media only screen and ( max-width: 480px ) {

	.grid .wsu-people {
		display: block;
	}

	.grid .wsu-person {
		width: 100%;
	}
}

/* Lightbox */
.wsu-people-lightbox-open {
	overflow: hidden;
}

.wsu-people-lightbox {
	background: rgba(0, 0, 0, .75);
	bottom: 0;
	left: 0;
	overflow-y: scroll;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 100000;
}

.wsu-people-lightbox .wsu-person {
	background: #fff;
	box-sizing: border-box;
	margin: 2rem auto;
	max-width: 990px;
	min-height: 90vh;
	padding: 2rem;
	position: relative;
	width: 90%;
}

button.wsu-people-lightbox-close {
	background: #820c23;
	border: none;
	border-radius: 0;
	color: #fff;
	font-size: 20px;
	left: 0;
	line-height: 2rem;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 2rem;
}
